

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  background: repeating-linear-gradient(
    to right,
    #ffb9da 0 4%,
    #ffd6e9 4% 8%
  );
  font-family: "Comic Sans MS";
  
}

@media (max-width: 600px) {
  body {
  margin: 0;
  background: repeating-linear-gradient(
    to right,
    #ffb9da 0 20%,
    #ffd6e9 20% 40%
    );
    font-family: "Comic Sans MS";
  }
}

#header{
  position: fixed;
  width: 100%;
  transition: 0.4s ease;
   top: 0;

   z-index: 1;
}



/* NAVBAR */
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #ffb9da;
  padding: 0 20px;
  
}

/* LEFT LOGO */
.nav-left img {
  
  width: 45px;
  
}

/* CENTER LOGO (perfectly centered on page) */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  
}

.nav-center img {
  
  width: 100px;
  
}

@media (max-width: 600px) {
  .nav-center {
    position: absolute;
    left: 35%;
    
    
    
  }

  .nav-center img {
  
    width: 80px;
  
  } 


}

/* RIGHT BUTTONS */
.nav-right {
  display: flex;
  gap: 12px;
}

.nav-right a {
  height: 45px;
  aspect-ratio: 1/1;
  
  border-radius: 22.5px;
  border: 1px solid black;
  background-color: #ffd6e9;
  cursor: pointer;
 
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: black;
}

.nav-right a img {
  
  
  width: 30px;
  
  
}

.nav-right a:hover {
  background-color: #ffb9da;
  text-decoration: underline;
}


/* DIVIDER LINE */
.outline {
  background-color: black;
  height:2px;
  width: 100%;
}



.menu-box{



    position:fixed;
    top: 20%;
    
    padding: 5%;
    
    
    aspect-ratio: 1/2;
    font-size: 2vw;
    font-weight: bolder;

  
    background-image: url("Button_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}


main{
    padding: 4%;
    padding-left: 25%;
    display: flex;
    flex-direction: column;
    
}

.mainsection{
    flex:1;
    
    padding-right: 5%;
    display: flex;
    
}

.booking-form{
    display: flex;
    width: 100%;
    gap:5vw;
    
}

.form-row{

    flex:1;
    
    
}

.booking-form-top{
    display: flex;
    flex-direction: column;
    flex:1;
    gap:10px;
    
    
}

.form-innerrow input{

    padding: 2%;
    width: auto;

    height: auto;
}

.booking-form-top textarea{

    width: 40vw;
    height: 40vw;
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
    
}

.booking-form-top input{
    width: 40vw;
    height: 2vw;
    min-height: 30px;
}

.mid{
    flex:1.7;
    
    
}

.right{
    flex:1;
}
h1{
    margin: 0;
    padding-top: 70px;
    font-size: 3vw;
    text-decoration: underline;
    width: 100%;
}

h2{
    
    
    font-size: 2.6vw;
}

.contact-box{

    
    
    
    padding: 10%;
    padding-top:5%;
    padding-bottom: 8%;
    
    
    width: 25vw;
    height: 15vw;
     
   
    font-size: 2vw;
    font-weight: bold;
    

    background-image: url("hori_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}


.map-box{

    outline: 3px black solid;

    
    width: 25vw;
    height: 25vw;
    
    transition: 1s ease;
}

.map-box:hover{

    

    width: 35vw;
    height: 30vw;
    margin-bottom: -5vw;
    
    
}




.submit-btn{
    margin-top: 20px;
    padding: 10px;

    outline: 3px black solid;

    font-weight: bolder;

    font-size: 20px;

    background-color: #ffe0d6;
    
}

@media (max-width: 600px) {


    main{
    padding: 4%;
    
    
    
}

    .booking-form{
        flex-direction: column;
    }

    .mainsection{
        flex-direction: column;
    }
    .menu-box{



        position:relative;
       
        
    
        padding:25%;
        margin-top: 70px;
    
    
        aspect-ratio: 1/2;
        font-size: 8vw;
        font-weight: bolder;


    
        background-image: url("Button_background.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
    }

    

    .contact-box{

    
    
        
        padding: 10%;
        padding-top:5%;
        padding-bottom: 8%;
        
        
        width: 70vw;
        height: 50vw;
        
    
        font-size: 6vw;
        font-weight: bold;
        

        background-image: url("hori_background.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
    }   

    h1{
        font-size: 8vw;
    }

    h2{
        font-size: 6vw;
    }

    .map-box{
        width: 90vw;
        height: 90vw;
    }

    .map-box:hover{
        width: 90vw;
        height: 90vw;
        margin-bottom: 0;

        
    
    }
    
    .booking-form-top input,.booking-form-top textarea{

        width: 100%;
    }


}




.transition{
  margin: 0;
  padding: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
    pointer-events: none;
}

.transition-row{
   margin: 0;
  padding: 0;
    flex:1;
    display: flex;
    
    width: 100%;

}

.transition-row.row-1 .block{
   margin: 0;
  padding: 0;
    transform-origin: top;
}

.transition-row.row-2 .block{
   margin: 0;
  padding: 0;
    transform-origin: bottom;
    
}

.block {
  
  padding: 0;
    flex:1;
    
    transform: scaleY(1.02);
    transform: scaleX(1.02);
    min-width: 0;
    will-change: transform;

    transition: ease;
    
}

.one{
  
  
  background-color: #ffb9da;
}

.two{
  background-color:  #ffd6e9 ;
}

.block img{
 
  width: 100%;
}


a{
    color: black;
    text-decoration: none;
}

.active{
    text-decoration: underline;
}

a:hover{
    text-decoration: underline;
}

button:hover{
    cursor: pointer;

}

iframe{

  width:100%;
  height: 100%;
  
                    
}

   
